@charset "UTF-8";
.required {
  margin-right: 0.3rem;
  font-size: 1.2rem;
  color: red;
}

.fa-star,
.fa-star-half-stroke {
  font-size: 1rem;
  color: #ff886e;
}

.shopping-cart-btn {
  cursor: pointer;
  background-color: #e8dbd0;
  border-style: none;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}
.shopping-cart-btn:hover .arrow path {
  stroke: #ffffff;
  animation: jump 0.6s ease-in-out infinite;
}
.shopping-cart-btn .arrow {
  transition: transform 0.3s ease;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.fa-solid.fa-cart-shopping {
  color: #ff886e;
  font-size: 2rem;
}

.fa-solid.fa-cart-shopping:hover {
  color: white;
}

#quantity {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.727);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  right: 40px;
  top: 14px;
  font-size: 1rem;
}

#cart {
  position: relative;
}
#cart #deleteCart {
  position: absolute;
  bottom: -50px;
  right: 1px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
}
#cart #deleteCart button {
  cursor: pointer;
  background-color: white;
  border: none;
}
#cart #deleteCart .delete-cart {
  font-size: 1.5rem;
  color: #ff886e;
}

.modal-shopping-cart {
  display: none;
  position: absolute;
  align-items: center;
  top: 70px;
  left: 50%;
  width: 95%;
  height: auto;
  background-color: white;
  z-index: 20;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;
  transform: translateX(-50%);
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.modal-content #close {
  align-self: flex-end;
  cursor: pointer;
  background-color: white;
  border: none;
  width: 40px;
  height: 40px;
}

#checkout-btn {
  width: 200px;
  height: 60px;
  margin: 0 auto;
  padding-top: 1rem;
  font-family: "Bebas Neue";
  font-size: 1.4rem;
  background-color: white;
  color: #ff886e;
  border: none;
  cursor: pointer;
}
#checkout-btn:hover {
  color: black;
}

.order-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.order-form .timer-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.order-form .timer-container p {
  font-size: 1.8rem;
  font-family: "Bebas Neue";
  color: #ff886e;
}

.checkout {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
}
.checkout .form-group,
.checkout fieldset {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
}
.checkout .form-group label {
  margin: 0 0 5px 5px;
}
.checkout .payment {
  padding: 1rem;
  border-radius: 20px;
}
.checkout .payment legend {
  margin-bottom: -1rem;
  padding: 10px;
  font-size: 1.2rem;
}
.checkout .payment label {
  font-size: 1rem;
  padding: 0 0 0 0.5rem;
}

#order-form input {
  padding: 0.7rem;
  background-color: rgba(242, 229, 217, 0.3490196078);
  border-radius: 15px;
  border-style: groove;
  border: none;
}

.buttons-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-bottom: 2rem;
}
.buttons-order button {
  text-transform: uppercase;
  width: 200px;
  color: white;
  border: none;
  border-radius: 25px;
  outline: none;
  padding: 12px;
  border: 4px solid white;
}
.buttons-order button:hover {
  background-color: #e8dbd0;
}
.buttons-order .clear-form {
  cursor: pointer;
  background-color: red;
  width: auto;
}
.buttons-order .clear-form:hover {
  background-color: white;
  color: red;
}

#insert-invoice-info,
#insert-card-info {
  display: none;
  flex-direction: column;
}
#insert-invoice-info label,
#insert-card-info label {
  margin-top: 1rem;
}

.checkbox-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.checkbox-div .checkbox {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: white;
  width: 330px;
  border-radius: 10px;
  margin: 1rem;
}

h3 {
  font-size: 2.2rem;
  font-family: "Bebas Neue";
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1rem;
}

.size-price {
  display: flex;
  padding: 0.6rem;
  justify-content: space-between;
  width: 100%;
  max-height: 45px;
}

.size-price h3 {
  font-size: 1.8rem;
}

.size-price p {
  font-family: "Bebas Neue";
  font-size: 1.8rem;
}

.add-amount {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  width: 250px;
  justify-content: space-between;
}
.add-amount input {
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #ff886e;
}
.add-amount button {
  background-color: #ff886e;
  color: white;
  border: 2px solid #ff886e;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* För Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 250px;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  width: 100%; /* Bilden fyller karusellen */
  height: auto;
  flex-shrink: 0;
  transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  border: none;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: black;
  border: none;
  padding: 10px;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  z-index: 10;
}
.carousel-btn:hover {
  background-color: white;
  color: #ff886e;
}

.prev-btn {
  left: 5%;
}

.next-btn {
  right: 5%;
}

.filter {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}
.filter h3 {
  padding: 0 0 1rem 0;
}
.filter .sort {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 1rem;
}
.filter .sort-filter,
.filter .sort-category {
  background-color: white;
  padding: 0.5rem 1rem 0.3rem 0.5rem;
  border-radius: 10px;
  border: none;
  width: 200px;
  font-family: "Bebas Neue";
  font-size: 1.2rem;
}

.sort-btn {
  margin-bottom: 0.5rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  background-color: rgb(247, 244, 244);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.cart-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-item-info {
  flex: 1;
  padding-right: 15px;
}

.cart-item-name,
.cart-item-amount,
.cart-item-price {
  margin: 2px 0;
  font-family: "Host Grotesk";
  font-size: 1rem;
}

.cart-item-name {
  font-family: "Bebas Neue";
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 100;
  color: black;
}

.thumb-img img {
  padding-top: 5px;
  width: auto;
  max-height: 100px;
  object-fit: cover;
}

.cart-total {
  display: flex;
  flex-direction: column;
  margin: 1.2rem 0 0 8px;
}
.cart-total .summary {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.cart-total .summary .cart-sum {
  display: flex;
  justify-content: space-between;
}
.cart-total .summary h4 {
  font-family: "Bebas Neue";
  font-size: 1.4rem;
  font-weight: 100;
}
.cart-total .summary span {
  text-align: right;
  color: #ff886e;
  margin-left: 10px;
  font-family: "Bebas Neue";
  font-size: 1.4rem;
  font-weight: 100;
}
.cart-total .summary .black {
  color: black;
}
.cart-total .summary .total-cart {
  padding-top: 1rem;
}

.discount-box {
  border-radius: 10px;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: yellow;
}
.discount-box .discount {
  color: red;
  font-size: 1.1rem;
  font-family: "Host Grotesk";
  text-align: center;
}

.order-info {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.order-info .summary-item {
  margin-left: 0.3rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.order-info .summary-item .red {
  font-family: "Bebas Neue";
  color: #ff886e;
  text-transform: lowercase;
}
.order-info .summary-item h4 {
  font-family: "Bebas Neue";
  font-size: 1.4rem;
  font-weight: 100;
}

.right {
  margin-top: 1rem;
  text-align: right;
}

.edit-cart {
  width: auto;
  max-width: 120px;
  background-color: white;
  color: #ff886e;
  font-family: "Bebas Neue";
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Host Grotesk";
}

body {
  background-color: #e8dbd0;
}

.wrapper {
  background-color: #e8dbd0;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.search-cart-row {
  position: relative;
  width: 100%;
  max-width: 500px; /* Maximal bredd för föräldraelementet */
  padding-top: 1rem;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search {
  width: 100%;
  background-color: white;
  max-width: 500px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.search input[type=search] {
  width: 100%;
  color: #ff886e;
  margin-right: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
  padding: 12px;
}
.search button {
  padding: 12px;
  background-color: #ff886e;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* Vid hover-effekt för knappen, valfritt */
.search button:hover {
  background-color: #e8dbd0;
  transition: 0.3s;
}

main {
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrerar vertikalt i main */
  align-items: center; /* Centrerar horisontellt i main */
}

aside {
  display: flex;
  justify-content: center;
}
aside .checkout {
  margin: 0 2rem;
  display: none;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
}
aside .checkout .order-conf {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 1000px;
  background-color: white;
}
aside h2 {
  padding: 1rem 0;
  font-size: 1.8rem;
  color: white;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .buttons-order {
    position: relative;
  }
  .buttons-order .clear-form {
    position: absolute;
    right: 1px;
    top: 50px;
  }
}