.shopping-cart-btn {
  cursor: pointer;
  background-color: $main-color;
  border-style: none;
  color: white;
  display: flex;
  align-items: center;
  position: relative;

  &:hover .arrow path {
    stroke: #ffffff;
    animation: jump 0.6s ease-in-out infinite;
  }

  .arrow {
    transition: transform 0.3s ease;
  }

  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.fa-solid.fa-cart-shopping {
  color: $secondary-color;
  font-size: 2rem;
}

.fa-solid.fa-cart-shopping:hover {
  color: white;
}

#quantity {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.727);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  right: 40px;
  top: 14px;
  font-size: 1rem;
}

#cart {
  position: relative;

  #deleteCart {
    position: absolute;
    bottom: -50px;
    right: 1px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;

    button {
      cursor: pointer;
      background-color: white;
      border: none;
    }

    .delete-cart {
      font-size: 1.5rem;
      color: $secondary-color;
    }
  }
}
