.carousel {
  position: relative;
  width: 100%;
  max-width: 250px;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  width: 100%; /* Bilden fyller karusellen */
  height: auto;
  flex-shrink: 0;
  transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  border: none;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: black;
  border: none;
  padding: 10px;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  z-index: 10;

  &:hover {
    background-color: white;
    color: $secondary-color;
  }
}

.prev-btn {
  left: 5%;
}

.next-btn {
  right: 5%;
}
