.modal-shopping-cart {
  display: none;
  position: absolute;
  align-items: center;
  top: 70px;
  left: 50%;
  width: 95%;
  height: auto;
  background-color: white;
  z-index: 20;
  padding: 1rem;

  border: 2px solid black;
  border-radius: 10px;

  transform: translateX(-50%);
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  #close {
    align-self: flex-end;
    cursor: pointer;
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
  }
}

#checkout-btn {
  width: 200px;
  height: 60px;
  margin: 0 auto;
  padding-top: 1rem;
  font-family: $secondary-font;
  font-size: $large-fontsize;
  background-color: white;
  color: $secondary-color;
  border: none;
  cursor: pointer;

  &:hover {
    color: black;
  }
}
