.order-info {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .summary-item {
    margin-left: 0.3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .red {
      font-family: $secondary-font;
      color: $secondary-color;
      text-transform: lowercase;
    }

    h4 {
      font-family: $secondary-font;
      font-size: $large-fontsize;
      font-weight: 100;
    }
  }
}

.right {
  margin-top: 1rem;
  text-align: right;
}

.edit-cart {
  width: auto;
  max-width: 120px;
  background-color: white;
  color: $secondary-color;
  font-family: $secondary-font;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}
