.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  background-color: rgb(247, 244, 244);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.cart-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-item-info {
  flex: 1;
  padding-right: 15px;
}

.cart-item-name,
.cart-item-amount,
.cart-item-price {
  margin: 2px 0;
  font-family: $main-font;
  font-size: 1rem;
}

.cart-item-name {
  font-family: $secondary-font;
  font-size: $large-fontsize;
  text-transform: uppercase;
  font-weight: 100;
  color: black;
}

.thumb-img img {
  padding-top: 5px;
  width: auto;
  max-height: 100px;
  object-fit: cover;
}

.cart-total {
  display: flex;
  flex-direction: column;
  margin: 1.2rem 0 0 8px;

  .summary {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .cart-sum {
      display: flex;
      justify-content: space-between;
    }

    h4 {
      font-family: $secondary-font;
      font-size: $large-fontsize;
      font-weight: 100;
    }

    span {
      text-align: right;
      color: $secondary-color;
      margin-left: 10px;
      font-family: $secondary-font;
      font-size: $large-fontsize;
      font-weight: 100;
    }

    .black {
      color: black;
    }

    .total-cart {
      padding-top: 1rem;
    }
  }
}
.discount-box {
  border-radius: 10px;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: yellow;
  .discount {
    color: red;
    font-size: 1.1rem;
    font-family: $main-font;
    text-align: center;
  }
}
