.cart-item {
  display: flex; /* Flexbox för att arrangera innehåll på en rad */
  justify-content: space-between; /* Lämnar utrymme mellan informationen och bilden */
  align-items: center; /* Vertikal centering av innehållet */
  margin-top: 1rem; /* Mellanrum mellan varukorgsobjekten */
  background-color: rgb(247, 244, 244);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.cart-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-item-info {
  flex: 1; /* Gör så att info-sektionen tar upp allt till vänster */
  padding-right: 15px; /* Lite utrymme mellan texten och bilden */
}

.cart-item-name,
.cart-item-amount,
.cart-item-price {
  margin: 2px 0; /* Marginaler för att separera varje rad */
  font-family: $main-font;
  font-size: 1rem;
}

.cart-item-name {
  font-family: $secondary-font;
  font-size: $large-fontsize;
  text-transform: uppercase;
  font-weight: 100;
  color: $secondary-color;
}

.thumb-img img {
  padding-top: 5px;
  width: auto;
  max-height: 100px; /* Begränsa bildens höjd */
  object-fit: cover; /* För att hålla bildens proportioner utan att sträcka den */
}

.cart-total {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 1.2rem 0 0 8px;

  h4 {
    font-family: $secondary-font;
    font-size: $large-fontsize;
    font-weight: 100;
  }

  span {
    color: $secondary-color;
    margin-left: 10px;
    font-family: $secondary-font;
    font-size: $large-fontsize;
    font-weight: 100;
  }
}
