$main-font: "Host Grotesk";
$secondary-font: "Bebas Neue";

$main-fontsize: 1rem;
$medium-fontsize: 1.2rem;
$large-fontsize: 1.4rem;
$largest-fontsize: 1.8rem;
$xxl-fontsize: 2.2rem;

$h1-main: 3rem;
$h1-medium: 3rem;
$h1-large: 4rem;

//FÄRGER
$main-color: #e8dbd0;
$secondary-color: #ff886e;
